@font-face {
    font-family: Gorditas;
    src: url(../assets/fonts/Gorditas-Regular.ttf);
}

@font-face {
    font-family: Grandstander;
    src: url(../assets/fonts/Grandstander-VariableFont_wght.ttf);
}

@font-face {
    font-family: Inika;
    src: url(../assets/fonts/Inika-Regular.ttf);
}

@font-face {
    font-family: Lucky;
    src: url(../assets/fonts/LuckiestGuy-Regular.ttf);
}

@font-face {
    font-family: Martel;
    src: url(../assets/fonts/Martel-Regular.ttf);
}

@font-face {
    font-family: Pacifico;
    src: url(../assets/fonts/Pacifico-Regular.ttf);
}


.bGroundOne{
    background-image: url(../assets/845441.png);
    height: 538px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 35%;
}

.bGroundTwo{
    background-image: url(../assets/aboutUsHeader.png);
    height: 538px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 35%;
}

.navb {
    background-color: #C0BA19;
    background-size: cover;
    margin-left: -1%;
    width: 101.8%;
    height: 89px;
}

.ACT {
    color: #FFFFFF;
    margin-top: -6.8%;
    margin-left: 10%;
    font-size: 35px;
    font-family: Gorditas;
    text-shadow: 3px 3px black;
    
}
.Logo{
    margin-top: 1%;
    width: 136px;
    height: 101px;
}

.healthPet{
color: #FFFFFF;
font-size: 40px;
margin-top: 10%;
font-family: Pacifico;
margin-left: 1%;
}

.happLife{
    color: #FFFFFF;
    font-size: 60px;
    margin-top: -8%;
    font-family: Lucky;
    text-shadow: 1px 5px 5px black;
}

.healHapp {
    margin-top: 8%;
    margin-left: 75%;
}
.navButtons{
    color: #FFFFFF;
    font-family: Gorditas;
    font-size: 36px;
}
.dropMenuStyle{
    background-color: #C0BA19;
}

.navb2{
    margin-top: 0.5%;
    background-color: #6D8DDF;
    background-size: cover;
    margin-left: -1%;
    width: 101.8%;
    height: 89px;
}

.Main{
    
    font-size: 50px;
    font-family: Inika;
    color: #FFFFFF;
}
.bGroundBody{
    background-image: url(../assets/pawprintImg.jpg);
  
    background-size: cover;
    background-repeat: no-repeat;
   
}

