@font-face {
    font-family: Gorditas;
    src: url(../assets/fonts/Gorditas-Regular.ttf);
}

@font-face {
    font-family: Grandstander;
    src: url(../assets/fonts/Grandstander-VariableFont_wght.ttf);
}

@font-face {
    font-family: Inika;
    src: url(../assets/fonts/Inika-Regular.ttf);
}

@font-face {
    font-family: Lucky;
    src: url(../assets/fonts/LuckiestGuy-Regular.ttf);
}

@font-face {
    font-family: Martel;
    src: url(../assets/fonts/Martel-Regular.ttf);
}

@font-face {
    font-family: Pacifico;
    src: url(../assets/fonts/Pacifico-Regular.ttf);
}


.bGroundOne{
    background-image: url(../assets/homeHeader.png);
    height: 538px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 35%;
}

.bGroundTwo {
    background-image: url(../assets/aboutUsHeader.png);
    height: 538px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 13%;
}

.bGroundThree {
    background-image: url(../assets/locationHeader.png);
    height: 538px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 7%;
}
.bGroundFour {
    background-image: url(../assets/servicesHeader.png);
    height: 538px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 35%;
}
.bGroundFive {
    background-image: url(../assets/AdoptHeader.webp);
    height: 538px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 50%;
}
.bGroundHelp {
    background-image: url(../assets/help.webp);
    height: 538px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 50%;
}
.bGroundFeral {
    background-image: url(../assets/feral.jpg);
    height: 538px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 50%;
}

.navb {
    background-color: #C0BA19;
    height: 89px;
}

.blueb {
    margin-top: 0.5%;
    background-color: #6D8DDF;
    height: 89px;
}

.bluebTitle{
    color: #FFFFFF;
    font-size: 50px;
    font-family: Inika;
    font-weight: bold;
    text-align: center;
}
.head{
    font-family: Inika;
    font-size: 32px;
    color: #000000;
    text-align: center;
    margin-top: 3%;
    font-weight: bold;
}
.headVariant2{
    font-family: Inika;
    font-size: 32px;
    color: #000000;
    text-align: center;
    margin-top: 3%;
    /* font-weight: bold; */
    width: 76%;
    margin-left: 13%;
}
.headHelp{
    font-family: Inika;
    font-size: 32px;
    color: #000000;
    text-align: center;
    margin-top: 3%;
    /* font-weight: bold; */
    width: 1290px;
    height: 336px;
    margin-left: 6%;
}
.feralCatFacts {
    font-size: 35px;
    font-family: Martel;
    font-weight: 500;
    color: #000000;
margin-left: 40%;
}

.homeTxt{
    color: #000000;
    font-family: Martel;
    font-size: 25px;
    text-align: left;
    width: 758px;
    margin-top: 3%;
    margin-left: 12%;
    text-indent: 4%;
}

.homeTxtVariant2{
    color: #000000;
    font-family: Martel;
    font-size: 25px;
    text-align: left;
    width: 758px;
    margin-top: 0.5%;
    margin-left: 40%;

    /* text-indent: 4%; */
}
.feralTrap {
    background-image: url(../assets/feraltrap.jpg);
    width: 471px;
    height: 405px;
    background-size: cover;
    background-position: 50% 100%;
 margin-left: 5%;
 margin-top: -60%;
    border-radius: 25px;
}
.angryFeral {
    background-image: url(../assets/raccoon.jpeg);
    width: 471px;
    height: 405px;
    background-size: cover;
    background-position: 50% 100%;
 margin-left: 5%;
 margin-top: 2%;
    border-radius: 25px;
}
.feralApptInfo{
    font-size: 30px;
    font-family: Inika;
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin-left: -56%;
    height: 25px;
}
.contactInf{
    font-size: 32px;
    font-family: Inika;
    font-weight: bold;
    color: #000000;
    text-align: center;
    height: 25px;
}
.imptApptMess{
    font-size: 30px;
    font-family: Inika;
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin-top: 5%;
}
.catTrapInfo{
    font-size: 30px;
    font-family: Inika;
    font-weight: bold;
    color: #000000;
    width: 471px;
    margin-left: 5%;
    text-align: center;
}
.manyWaysToHelp {
    font-family: Martel;
    font-size: 40px;
    color: #000000;
    text-align: center;
    margin-top: 8%;
}
.volunteer {
    background-image: url(../assets/volunteer.jpeg);
    width: 452px;
    height: 326px;
    background-size: cover;
    background-position: 50% 100%;
 margin-left: 15%;
 /* margin-top: -60%; */
    /* border-radius: 25px; */
    border: 15px solid #6D8DDF;
}
.helpTitles{
    font-size: 30px;
    font-family: Inika;
    font-weight: bold;
    color: #000000;
    
}
.helpTxt{
    font-size: 25px;
    font-family: Martel;
    color: #000000;
    width: 570px;
    height: 312px;
}
.donate {
    background-image: url(../assets/donate.jpg);
    width: 452px;
    height: 326px;
    background-size: cover;
    background-position: 50% 100%;
 margin-left: 57%;
 margin-top: -47.69%;
    /* border-radius: 25px; */
    border: 15px solid #6D8DDF;
}
.plannedGiv {
    background-image: url(../assets/giving.png);
    width: 452px;
    height: 326px;
    background-size: cover;
    background-position: 50% 100%;
    margin-left: 15%;
 /* margin-left: 5%;
 margin-top: -60%; */
    /* border-radius: 25px; */
    border: 15px solid #6D8DDF;
}
.cansForCrits {
    background-image: url(../assets/recycle.jpg);
    width: 452px;
    height: 326px;
    background-size: cover;
    background-position: 50% 100%;
    margin-left: 57%;
    margin-top: -47.69%;
 /* margin-left: 5%;
 margin-top: -60%; */
    /* border-radius: 25px; */
    border: 15px solid #6D8DDF;
}

.currDonation{
    font-size: 35px;
    font-weight: bold;
    font-family: Martel;
    text-align: center;
    margin-top: -4%;
    color: #000000;
}
.donationH2 {
    font-size: 25px;
    font-family: Martel;
    text-align: center;
    color: #000000;
}
.donationItem {
    font-size: 25px;
    font-family: Martel;
    font-weight: bold;
    text-align: center;
    color: #000000;
}
.donationItemDesc {
    font-size: 25px;
    font-family: Martel;
    /* font-weight: bold; */
    text-align: center;
    color: #000000;
    margin-top: -1%;
}

.quote{
    color: #000000;
    font-size: 25px;
    font-family: Grandstander;
    font-weight: 500;
    width: 339px;
    height: 242px;
    text-align: center;
    z-index: 1;
}
.quoter{
    color: #000000;
    font-size: 25px;
    font-family: Grandstander;
    text-align: center;
margin-top: -15%;
    width: 339px;
    height: 242px;
    z-index: 1;
}

.quotePosition {
    margin-top: -29%;
    margin-left: 70%;
}

.ACT {
    color: #FFFFFF;
    margin-top: -95px;
    margin-left: 153px;
    font-size: 35px;
    font-family: Gorditas;
    text-shadow: 1px 5px 5px black;
}

.Logo {
    margin-top: 8px;
    width: 136px;
    height: 101px;
}

.healthPet {
    color: #FFFFFF;
    font-size: 40px;
    font-family: Pacifico;
}

.happLife {
    color: #FFFFFF;
    font-size: 60px;
    margin-top: -20px;
    font-family: Lucky;
    text-shadow: 1px 5px 5px black;
}

.healHapp {
    margin-top: 110px;
    margin-left: 73.5%;
}

.btnNav {
    border: none;
    background-color: #C0BA19;
    text-decoration: none;
    color: #FFFFFF;
    font-family: Gorditas;
    font-size: 36px;
}

.overrideDropD {
    background-color: #C0BA19;
    width: 301px;
    height: 284px;
    border-radius: 0px;
    border-color: #C0BA19;
    list-style-type: none;
}

.overrideDropDTwo {
    background-color: #C0BA19;
    width: 301px;
    height: 194px;
    border-radius: 0px;
    border-color: #C0BA19;
}

.innerDropD {
    color: #FFFFFF;
    font-size: 40px;
    font-family: Grandstander;
    font-weight: 200;
    text-decoration: none;
}

.whiteLine {
    color: #FFFFFF;
    background-color: #FFFFFF;
}

.noBP {
    list-style-type: none;
}

.shift {
    margin-left: -30%;
}

.shiftTwo {
    margin-left: -10%;
}

.pushDown {
    padding-bottom: 4%;
}

.footerColor{
    background-color: #6D8DDF;
    height: min-content;
}

.logoFooter{
    width: 136px;
    height: 101px;
    margin-top: 31px;
    margin-left: 136px;
}

.outer-FB-Footer{
    margin-right: 7.5%;
    margin-top: -60px;
}

.fbFooter{
    width: 58px;
    height: 60px;   
}

.rightTopText{
    margin-top: 23px;
    margin-right: 16%;
    font-family: Grandstander;
    color: #D9D9D9;
    font-size: 32px;
    font-weight: 200;
}

.rightBottomText{
    margin-right: 16%;
    font-family: Grandstander;
    color: #D9D9D9;
    font-size: 24px;
    font-weight: 500;
}

.rightTextShift{
    margin-top: 15px;
}

.rightShrinkMargin{
    margin-top: -25px;
}

.leftTopText{
    font-family: Gorditas;
    font-size: 32px;
    color: #D9D9D9;
    margin-left: 136px;
}

.leftBottomText{
    font-family: Grandstander;
    font-size: 24px;
    color: #D9D9D9;
    margin-left: 136px;
    font-weight: 200;
    margin-top: -27px;
}

.bGroundSplash{
    background-image: url(../assets/colorSplash.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 35%;
    width: 489px;
    height: 493px;
    margin-left: 65%;
    margin-top: -40%;
     filter: saturate(2);
     z-index: -1;
   /* filter: contrast(1); */
opacity: 50%;
}

.pawPrint{
    background-image: url(../assets/pawprintImg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 7%;
    z-index: -1;
    
}

.overlay {
    z-index: 1;
}

.shiftUp{
    margin-top: -11%;
}
.moveVol{
    /* margin-top: 2%; */
    margin-left: 25%;
}
.moveGiv{
    margin-left: 23%;
}
.moveVolTxt{
    margin-left: 12%;
}

.moveDonT{
    margin-left: 69%;
}
.moveDonInf{
    margin-left: 56%;
}
.moveGivT{
    margin-left: 64%;
}